<div class="container">
  <div class="card m-3">
    <div class="card-header">
      <table class="table table-sm">
        <thead>
          <th>Test Card</th>
          <th>Type</th>
        </thead>
        <tr>
          <td>4242424242424242</td>
          <td>Visa</td>
        </tr>
        <tr>
          <td>5555555555554444</td>
          <td>Mastercard</td>
        </tr>
        <tr>
          <td>378282246310005</td>
          <td>American Express</td>
        </tr>
        <tr>
          <td>6011111111111117</td>
          <td>Discover</td>
        </tr>
      </table>
    </div>
    <div class="card-body">
      <div class="p-2 m-1" id="card-element">
      </div>
      <small style="display: block;" class="text-danger">
        {{cardError}}
      </small>
    </div>
    <button class="btn btn-primary" (click)="getToken()">Submit</button>
  </div>
  <div *ngIf="charge" class="alert alert-success">
    <h5>Successfully Created Charge</h5>
    <p>Charge Id: {{charge.id}}</p>
  </div>
  <div *ngIf="chargeError" class="alert alert-danger">
    <h5>A Stripe Error Occurred</h5>
    <p>{{chargeError.error}}</p>
  </div>
</div>
